<%= form_for @image, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <fieldset>
    <legend>Image</legend>
    <p>
    	<%= f.label :title, "Image Title:" %> <br />
		<%= f.text_field :title %>
    </p>
    <p>
      <%= image_tag(@image.file_url(:thumb)) if @image.file? %>
      <% unless @image.new_record? %>
        <%= f.check_box :remove_file %>
        <%= f.label :remove_file, "remove file" %>
      <% end %>
    </p>
    <p>
      <%= f.label :file, "Upload local file:" %><br />
      <%= f.file_field :file %>
      <%= f.hidden_field :file_cache %>
    </p>
    <p> ...or... </p>
    <p>
      <%= f.label :remote_file_url, "Download remote file:" %><br />
      <%= f.text_field :remote_file_url %>
    </p>
  </fieldset>
  <p><%= f.submit "Submit" %></p>
<% end %>
